@use "styles/variables";

@mixin head-button {
    border-radius: 50%;
    padding: 8px;

    svg {
        width: 24px;
        height: 24px;
    }
}

@mixin display-name {
    & > span {
        position: absolute;
        left: 50%;
        bottom: -50px;

        border-radius: 4px;
        
        transform: translateX(-50%);

        background-color: #616161;
        opacity: 0.9;

        padding: 10px 8px;

        width: max-content;

        color: white;
        font-size: 0.75rem;

        display: none;
    }

    &:hover > span {
        display: block;
    }
}

#top-head {
    width: 100%;
    height: variables.$head-height;

    padding: 0 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;

    background-color: var(--bg-color);
    z-index: 3;

    #{&}-left {
        display: flex;
        align-items: center;

        margin-right: 9px;
        
        #menu {
            @include head-button;
        }

        a {
            position: relative;
            padding: 18px 14px 18px 16px;

            #youtube-logo {
                width: 90px;
                height: 20px;
            }

            &::after {
                position: absolute;
                top: 12px;
                right: -2.5px;

                content: "BR";

                color: var(--secondary-text-color);
                
                font-size: 0.625rem;
                font-family: Roboto, Arial, sans-serif;
            }
        }
    }

    #{&}-center {
        width: 100%;
        max-width: 688px;
        display: flex;
        margin-left: 44px;
        
        #search {
            width: 100%;
            max-width: 640px;
            margin-left: 32px;

            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            border: 1px solid var(--border-search-color);
            box-shadow: inset 0 1px 2px var(--shadow-search-color);

            height: 40px;

            display: flex;
            align-items: center;

            #search-icon-right {
                margin-left: 16px;

                width: 0px;
                height: 0px;
                margin-right: 0px;
            }

            input {
                width: 100%;
                max-width: 479px;
                height: 20px;
                
                line-height: 48px;
    
                font-size: 1rem;
                font-weight: 400;
                font-family: Roboto, Noto, sans-serif;
                
                color: var(--primary-text-color);
            }

            #clear-button {
                @include head-button;
                opacity: 0;
            }
        }

        #search-button {
            position: relative;

            @include display-name;
            
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
    
            border: 1px solid var(--border-search-color);
            border-left: none;

            background-color: var(--search-button-bg-color);

            padding-left: 20px;
            padding-right: 19px;
            height: 40px;

            display: flex;
            align-items: center;
            justify-content: center;

            div {
                width: 24px;
                height: 24px;
            }
        }

        #search-voice {
            @include head-button;
            @include display-name;

            margin-left: 16px;

            background-color: var(--search-voice-bg-color);
        }
    }

    #{&}-right {
        position: relative;

        display: flex;
        align-items: center;
        gap: 8px;

        margin-left: 69px;

        #search-right, #search-voice-right, #upload, #notifications {
            @include head-button;
            @include display-name;
        }

        #search-right, #search-voice-right {
            display: none;
        }

        #user {
            border-radius: 50%;
            margin: 0 14px;

            position: relative;

            cursor: pointer;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            & > div {
                display: none;

                position: absolute;
                bottom: -5px;
                right: -7px;

                width: 300px;
                border-radius: 12px;
                
                background-color: var(--bg-color);
                box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.1);

                transform: translateY(100%);

                #user-info {
                    padding: 16px;
    
                    display: flex;
                    align-items: center;
    
                    gap: 16px;
    
                    cursor: auto;

                    border-bottom: 1px solid var(--nav-division-color);
    
                    img {
                        width: 40px;
                        height: 40px;
                    }
    
                    & > div {
                        p {
                            cursor: auto;
                            user-select: text;
    
                            text-align: start;
    
                            font-size: 1rem;
                            line-height: 22px;
    
                            color: var(--primary-text-color);
                        }
                    }
                }

                #appearence {
                    width: 100%;
                    height: 40px;

                    margin: 8px 0;

                    color: var(--primary-text-color);

                    display: flex;
                    align-items: center;
                    gap: 16px;

                    padding: 0 16px;

                    svg {
                        width: 24px;
                        height: 24px;
                    }

                    span {
                        font-size: 0.875rem;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (width <= 720px) {
    #top-head {
        #{&}-center {
            display: none;
        }

        #{&}-right {
            margin-left: 0;

            #search-right, #search-voice-right {
                display: block;
            }
        }
    }
}

@media only screen and (width <= 470px) {
    #top-head {
        #{&}-right {
            #search-voice-right, #notifications {
                display: none;
            }
        }
    }
}

@media only screen and (width <= 360px) {
    #top-head {
        #{&}-left {
            a {
                display: none;
            }
        }
    }
}