@use "styles/variables";

@mixin head-button {
    border-radius: 50%;
    padding: 8px;
}

@mixin display-name {
    & > span {
        position: absolute;
        left: 50%;
        bottom: -50px;

        border-radius: 4px;
        
        transform: translateX(-50%);

        background-color: variables.$secondary-bg-color;
        opacity: 0.9;

        padding: 10px 8px;

        width: max-content;

        color: variables.$contrast-bg-text-color;
        font-size: 0.75rem;

        display: none;
    }

    &:hover > span {
        display: block;
    }
}

#top-head {
    width: 100%;
    height: variables.$head-height;

    padding: 0 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    #{&}-left {
        display: flex;
        align-items: center;

        margin-right: 9px;
        
        #menu {
            @include head-button;
        }

        a {
            position: relative;
            padding: 18px 14px 18px 16px;

            #youtube-logo {
                width: 90px;
                height: 20px;
            }

            &::after {
                position: absolute;
                top: 12px;
                right: -2.5px;

                content: "BR";

                color: variables.$secondary-text-color;
                
                font-size: 10px;
                font-family: Roboto, Arial, sans-serif;
            }
        }
    }

    #{&}-center {
        display: flex;
        margin-left: 44px;
        
        #search {
            margin-left: 32px;

            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            border: 1px solid variables.$border-search-color;
            box-shadow: inset 0 1px 2px variables.$shadow-search-color;

            height: 40px;

            display: flex;
            align-items: center;

            #search-icon-right {
                margin-left: 16px;

                width: 0px;
                height: 0px;
                margin-right: 0px;
            }

            input {
                width: 479px;
                height: 20px;
                
                line-height: 48px;
    
                font-size: 16px;
                font-weight: 400;
                font-family: Roboto, Noto, sans-serif;
            }

            #clear-button {
                @include head-button;
                opacity: 0;
            }
        }

        #search-button {
            position: relative;

            @include display-name;
            
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
    
            border: 1px solid variables.$border-search-color;
            border-left: none;

            background-color: variables.$search-button-bg-color;

            width: 63px;
            height: 40px;

            display: flex;
            align-items: center;
            justify-content: center;

            div {
                width: 24px;
                height: 24px;
            }
        }

        #search-voice {
            @include head-button;
            @include display-name;

            margin-left: 16px;

            background-color: variables.$search-voice-bg-color;
        }
    }

    #{&}-right {
        position: relative;

        display: flex;
        align-items: center;
        gap: 8px;

        margin-left: 69px;

        #upload, #notifications {
            @include head-button;
            @include display-name;
        }

        #user {
            border-radius: 50%;
            margin: 0 14px;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }
        }
    }
}