$head-height: 56px;
$nav-width: 240px;
$mini-nav-width: 72px;

$bg-color: white;

$primary-text-color: #0f0f0f;
$secondary-text-color: #606060;
$tertiary-text-color: #909090;
$contrast-bg-text-color: white;

$loading-color: #ccc;

$secondary-bg-color: #616161;
$search-button-bg-color: #f8f8f8;

$search-voice-bg-color: rgba(0,0,0,0.05);
$search-voice-bg-color-hard: #f2f2f2;
$search-voice-bg-darker-color: rgba(0,0,0,0.1);

$shadow-search-color: #eee;
$border-search-color: #ccc;

$nav-division-color: rgba(0, 0, 0, 0.1);