$head-height: 56px;
$nav-width: 240px;

$primary-text-color: #0f0f0f;
$secondary-text-color: #606060;
$tertiary-text-color: #909090;
$contrast-bg-text-color: white;

$secondary-bg-color: #616161;
$search-button-bg-color: #f8f8f8;

$search-voice-bg-color: rgba(0,0,0,0.05);

$shadow-search-color: #eee;
$border-search-color: #ccc;

$nav-division-color: rgba(0, 0, 0, 0.1);