@use "styles/variables";

.description-link {
    display: flex;
    align-items: center;

    width: max-content;

    background-color: var(--search-voice-bg-color);
    border-radius: 20px;

    padding: 0 8px;

    color: var(--link-color);

    img {
        width: 14px;
    }
}

.link-not-found {
    color: var(--link-color);
}