@use "styles/variables";

.description-link {
    display: flex;
    align-items: center;

    width: max-content;

    background-color: variables.$search-voice-bg-color;
    border-radius: 20px;

    padding: 0 8px;

    img {
        width: 14px;
    }
}

.link-not-found {
    color: #065fd4;
}