@use "styles/variables";

#videos-section {
    position: relative;
    margin-top: calc(variables.$head-height + variables.$types-bar-height + 16px);
    margin-left: variables.$nav-width;

    width: calc(100% - variables.$nav-width);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 0 20px;

    & > div {
        width: 1048px;
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 40px;
        column-gap: 24px;
    }
}

body[mini] #videos-section {
    width: calc(100% - variables.$mini-nav-width);
    margin-left: variables.$mini-nav-width;
    padding-left: 20px
}

@media only screen and (width <= 1375px) {
    body[mini] #videos-section, #videos-section {
        width: calc(100% - variables.$mini-nav-width);
        margin-left: variables.$mini-nav-width;
        padding-left: 20px
    }
}

@media only screen and (width <= 640px) {
    body[mini] #videos-section, #videos-section {
        width: 100%;
        margin-left: 0;

        padding: 0
    }
}