@use "styles/variables";

#videos-section {
    position: relative;
    margin-top: calc(variables.$head-height + 16px);
    margin-left: variables.$nav-width;

    width: calc(100% - variables.$nav-width);

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    column-gap: 24px;
}

@media only screen and (width <= 1375px) {
    #videos-section {
        width: calc(100% - variables.$mini-nav-width);
        margin-left: variables.$mini-nav-width;
        padding-left: 0;
    }
}

@media only screen and (width <= 640px) {
    #videos-section {
        width: 100%;
        margin-left: 0;
    }
}