@use "styles/variables";

nav {
    width: variables.$nav-width;
    height: calc(100vh - variables.$head-height);

    overflow-y: auto;

    position: fixed;
    top: variables.$head-height;

    background-color: variables.$bg-color;
    z-index: 3;

    #home-nav {
        font-weight: 600;
        background-color: rgba(0, 0, 0, 0.05);
    }

    .nav-division {
        padding: 12px;
        border-bottom: 1px solid variables.$nav-division-color;

        .nav-sub-division-line {
            margin: 12px 0;
            height: 1px;

            background-color: variables.$nav-division-color;
        }
    }

    h2 {
        font-size: 1rem;
        line-height: 22px;

        padding: 6px 12px 4px 12px;
    }

    #guide-links {
        padding: 21px 20px 13px 24px;

        display: flex;
        flex-direction: column;
        gap: 16px;

        .guide-link-division {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            a {
                font-size: 0.8125rem;
                line-height: 10px;

                font-weight: 600;

                color: variables.$secondary-text-color;
            }

            span {
                font-size: 0.75rem;
                font-weight: 500;
                line-height: 16px;

                padding: 4px 0px;

                color: variables.$tertiary-text-color;
            }

            &:first-child {
                padding-right: 20px;
                padding-bottom: 4px;
            }
        }
    }

    #mini-nav {
        display: none;

        .mini-nav-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-self: center;
            gap: 6px;

            width: 64px;

            padding-top: 16px;
            padding-bottom: 14px;

            border-radius: 10px;

            svg {
                width: 24px;
                height: 24px;
            }

            span {
                font-size: 0.625rem;
                line-height: 14px;
                
                color: variables.$primary-text-color;
            }
        }
    }

    &[mini] {
        width: 72px;
        padding: 0 4px;

        margin-top: 4px;

        & > #guide-links,
        & > div {
            display: none;
        }

        #mini-nav {
            display: block;
        }
    }
}