@use "styles/variables";

.nav-item {
    display: flex;
    align-items: center;
    gap: 24px;

    padding: 0 12px;

    width: 204px;
    height: 40px;

    border-radius: 10px;

    color: var(--primary-text-color);

    font-size: 0.875rem;
    line-height: 32px;
    font-weight: 500;
    
    cursor: pointer;

    &.can-hide {
        display: none;
    }
}